*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; 
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header {
    padding: 10px 0 0; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 36px; 
    color: #fff;
    background-color:rgb(37, 116, 136);
}

nav li {
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    float: left; 
    list-style: none;
    padding: 16px; 
    position: relative; 
}

nav li a {
    color:  #fff;
    display: inline;
    text-decoration: none;
}

.clear{
    clear: both;        
}   

.destaque h2 {
    color: rgb(37, 37, 136);
    padding: 16px 0 0; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 44px; 
}

.item h2 {
    color: rgb(37, 37, 136);
    padding: 16px 0 0; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 56px; 
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.loja img { 
    max-width: 100%;
}

.loja p {
    padding: 12px;
    display: inline;
}

.destaque { 
    margin-bottom: 40px;
    
}

.destaque .loja img {
    margin-right: 8px;
}

.game img {
    width: 140px;
    height: 114px;
}

section h2 {
    margin-bottom: 32px;
}

aside { 
    padding-left: 40px;
    background-color: blue;
}

aside .loja {
    margin-bottom: 24px;
    background-color: blue;
}

button {
    background-color: rgb(37, 37, 136);
    color:#fff;
    padding: 4px;
    font-family:unset;
    cursor: pointer;
}

.game {
    display: grid;
    
    grid-template-columns: repeat(4, 24.5%) ;
    column-gap: 1%; 
    row-gap: 5%;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block; 
    }

    .container {
        max-width: 100%;
    }

    .destaque img {
        width: 370px;
    }


    .destaque .loja a {
        display: block;
        font-size: 1em;
    }
    
    .destaque .loja img {
        margin-right: 0;
    }

    
    .game {
        display: block;
    }

    .game p {
        display: block;
    }

    .button {
        display: block;
    }

    .game .loja {  
        margin-bottom: 32px;
    }

    
    aside { 
        padding-left: 0;
        background-color: blue;
    }

    
    header div.container {  
        flex-direction: column; 
    }
    
    .submenu {
        display: block; 
        width: 100%;
        top: 100%;
        position: relative;
        border: none;
    }

    .menu { 
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .container h1 {
        padding: 1px;
    }

    .submenu li {
        display: block;
        padding: 6px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 4px; 
    }

    .botao-menu button {
        padding: 4px; 
    }
}

@media screen and (min-width: 768px) and (max-width :1023px) { 
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .loja a {
        font-size: 1.5em;
    }

    .game {
        grid-template-columns: repeat(2, 49%);
    }

    .game p {
        display: block;
    }
}

@media screen and (min-width: 1024px ) {
    .botao-menu {
        display: none;
    }

    .button {
        display: block;
        padding: 2px;
        margin-top: 16px
    }
}